@import "skins/oasis/css/core/layout";
@import "skins/oasis/css/mixins/border-radius";
@import "skins/oasis/css/mixins/clearfix";

.tray-open {
	overflow: hidden;
}

.WikiaTrayHeader {
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	z-index: $zTop;

	.tray-header-tab {
		float: left;
		height: 37px;
		position: relative;
		&.selected {
			background: -webkit-gradient( linear, 0% 0%, 0% 100%, color-stop( 0%, black ), color-stop( 75%, transparent) )
		}
	}

	.avatar {
		cursor: pointer;
		margin: 5px 9px 0 10px;
	}
	.reddot {
		right: 2px;		
		top: 0;
	}
	.divider {
		border-color: transparent rgba(255,255,255,.1) transparent rgba(0,0,0,.3);
		border-style: solid;
		border-width: 1px;
		float: left;
		height: 30px;
		margin-top: 3px;
		width: 0;
	}

	.search-tab {
		width: 253px;
	}
	input[type="search"] {
		font-size: large;
		margin: 7px 0 0 9px;
		width: 234px;
	}
	.loading {
		display: none;
		position: absolute;
		right: 30px;
		top: 10px;		
	}
}

.WikiaTray {
	background: -webkit-gradient( linear, 0% 0%, 100% 0%, color-stop( 0%, rgba(0,0,0,.25) ), color-stop( 5%, transparent) ), url(/extensions/wikia/hacks/Tray/images/tray-bg.png);
	bottom: 0;
	color: #EEE;
	display: none;
	margin-right: -300px;
	overflow: auto;
	padding: 20px 10px 10px;
	position: absolute;
	right: 0;
	top: 0;
	width: 280px;

	h1 {
		clear: left;
		font-size: 12px;
		margin: 30px 0 10px;
		text-shadow: 0px 2px 2px black;
		text-transform: uppercase;
		a {
			color: #999;	
			font-size: 10px;
			margin-left: 5px;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
			text-transform: none;
		}
	}
	h2 {
		color: #999;
		font-size: 12px;	
		font-weight: bold;
		margin-left: 20px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
	}
	
	ul {
		margin-left: 20px;
	}
	li {
		margin: 6px 0;
	}
	a {
		color: #EEE;
	}

	.reddot-wrapper {
		position: relative;
	}
	.reddot {
		left: 4px;
		top: -1px;		
	}
	.messages {
		.avatar {
			display: block;
			height: 30px;
			float: left;
			width: 30px;
		}
		.what, .who, .when {
			display: block;
			padding-left: 40px;
			
		}
		.who, .when {
			color: #999;	
			font-size: 10px;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
		}
		.who a {
			color: #999;
		}
		
	}
	
	.wiki {
		color: #9C9;
		font-size: 10px;
		font-style: italic;
		font-weight: bold;
		margin-top: -1px;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
		span {
			color: #999;
			font-weight: normal;
		}		
	}
	
	.photo-carousel-wrapper {
		position: relative;
		
		.photo-carousel	{
			>div {
				margin: 0 10px;
				overflow: hidden;
				width: 259px;
			}
			ul {
				margin: 0 0 0 -1px;
				position: relative;
			}
			li {
				border-right: 1px solid rgba(0,0,0,.3);
				border-left: 1px solid rgba(255,255,255,.1);
				float: left;
				padding: 3px 9px;
			}
			img {
				border: 1px solid white;
				display: block;
				height: 65px;
				width: 65px;			
			}
		}
		.next, .previous {
			border-style: solid;
			cursor: pointer;
			display: none;
			position: absolute;
			top: 35px;			
			width: 0;
		}
		.next {
			border-color: transparent transparent transparent white;
			border-width: 9px 0 9px 9px;
			right: 0;
		}
		.previous {
			border-color: transparent white transparent transparent;
			border-width: 9px 9px 9px 0;
			left: 0;
		}
		.disabled {
			opacity: .25;
		}
	}
	
	.graphics {
		@include clearfix;
		border-left: 1px solid rgba(0, 0, 0, .3);
		float: right;
		margin: 0;
		li {
			border-left: 1px solid rgba(255, 255, 255, .1);
			display: block;
			float: left;
			font-size: 10px;
			margin: 0;
			padding: 5px 0;
			text-align: center;
			width: 75px;
			&:first-child {
				border-right: 1px solid rgba(0, 0, 0, .3);
			}
		}
	}
	.tint {
		@include clearfix;
		@include border-radius(10px);
		background: rgba(0, 0, 0, .1);
		padding: 10px 0;
		box-shadow: 0 -1px 0 rgba(0, 0, 0, .25);	
	}
	.columns-2 {
		border-right: 1px solid rgba(0, 0, 0, .3);
		border-left: 1px solid rgba(255, 255, 255, .1);
		float: left;
		width: 138px;
		&.first {
			border-left-color: transparent;
		}
		&.last {
			border-right-color: transparent;
		}
	}
	
}

.WikiaTrayHeader, .WikiaTray {
	.reddot {
		@include border-radius(15px);
		background: red;
		border: 1px solid white;
		box-shadow: 0px 0px 2px white;
		color: white;
		display: block;
		font-family: Georgia;
		font-size: 12px;
		height: 12px;
		line-height: 10px;
		min-width: 8px;
		padding: 0 2px;
		position: absolute;
		text-align: center;
		text-shadow: none;
	}
}